body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Concert One', cursive;
    font-family: 'Indie Flower', cursive;
    min-width: 100vh;
    background-color: rgb(226, 226, 226);    
    margin: 0;    
}
.enlaces {     
    font-size: larger;     
}
.enlace{
    color: rgb(255, 255, 255);
    text-decoration: none;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    /*list-style: none; */   
    /*display: block;*/
    text-align: center;
}
li{
    display: inline-block;
    padding: 1%;    
}
.encabezado{    
    height: 100vh;
    background-image: url(./imagenes/encabezado.jpg);
    background-size: cover;
    background-position: center;
}
.titulo{
    font-size: 5vh;
    text-shadow: 5px 5px 5px #020202;    
    padding-left: 7%;
    padding-top: 10%;          
    text-align: left;
    font-size: 2.5rem;  
}
.form{
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(214, 214, 214);
    padding-left: 5%;
    margin: 2% 20% 2%;
    border-radius: 3%;
}
.redes{
    background-color: rgb(219, 219, 219); 
    padding-top: 2vh; 
    padding-bottom: 2vh; 
    font-size: x-large; 
    padding-left: 2%; 
}
.redes a{
    text-decoration: none;
    font-size: x-large;
    inline-size: 7vh;    
}
footer{
    font-size: large;
    text-align: center;
}